:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --background-color: #ffffff;
  --hero-section-color: #2f303a;
  --team-section-color: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --additional-text-color: #ffffff;
  --icons-color: #afb1b8;
  --card-gap: 30px;
  --card-item: 3;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item));
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
}

.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
  display: block;
  padding: 32px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  height: 4px;
  width: 100%;
  bottom: -1px;
}

.current-filter {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.work__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  margin-left: 93px;
}
.nav__list {
  display: flex;
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;
}
.logo__primary {
  color: var(--accent-color);
}
.logo__secondary--black {
  color: var(--title-text-color);
}
.logo__secondary--white {
  color: var(--additional-text-color);
}

.contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts__link {
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: var(--additional-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.soc-icons {
  display: flex;
  justify-content: center;
}

.soc-icons__item {
  width: 44px;
  height: 44px;
}
.soc-icons__item:not(:first-child) {
  margin-left: 10px;
}

.soc-icons__svg {
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icons__link:hover .soc-icons__svg, .soc-icons__link:focus .soc-icons__svg {
  fill: var(--additional-text-color);
}

.soc-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icons__link:hover, .soc-icons__link:focus {
  background-color: var(--accent-color);
}

.join {
  margin-left: 70px;
  padding-top: 12px;
}
.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--additional-text-color);
}

.soc-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.subscription {
  margin-left: 93px;
  padding-top: 12px;
}

.subscription__form {
  display: flex;
  flex-direction: column;
}

.subscription__label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--additional-text-color);
}

.subscription__wrapper {
  display: flex;
}

.subscription__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-section-color);
  padding: 15px 295px 15px 16px;
  width: 358px;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--additional-text-color);
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
}

.subscription-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-70%, -70%) scale(0) rotate(90deg);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  width: 30px;
  height: 30px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .modal__close-svg, .modal__close:focus .modal__close-svg {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal__field {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  border-color: transparent;
}

.modal__label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal__wrap {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}
.modal__wrap--textarea {
  margin-bottom: 20px;
}

.modal__input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input .modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input-icons {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.modal__input:focus + .modal__input-icons {
  fill: var(--accent-color);
}

.modal__comment {
  width: 100%;
  min-height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:focus {
  border-color: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__text {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71px;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: 20px;
}

.checkbox__span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__modal-check:focus + .checkbox__text .checkbox__span {
  border: 2px solid var(--accent-color);
}
.checkbox__modal-check:checked + .checkbox__text .checkbox__span {
  background-color: var(--accent-color);
  border: none;
}

.checkbox__icon {
  fill: transparent;
}
.checkbox__modal-check:checked + .checkbox__text .checkbox__icon {
  fill: var(--additional-text-color);
}

.checkbox__agreement {
  color: var(--accent-color);
  text-decoration-style: solid;
  display: inline-block;
  font-size: 14px;
  line-height: 1.71px;
  padding-left: 3px;
}
.checkbox__agreement:visited {
  color: var(--accent-color);
}

.header {
  background: var(--background-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.hero {
  background-color: var(--hero-section-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0px;
  text-align: center;
}
.hero__title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features .features__list {
  --card-item: 4;
}
.features__item {
  width: 270px;
}
.features__title {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  text-align: left;
}
.features__bg {
  width: 270px;
  min-height: 120px;
  background-color: var(--team-section-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.work {
  padding-bottom: 94px;
}
.work__item {
  position: relative;
  list-style: none;
  display: inline-block;
}
.work__description {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--additional-text-color);
}

.team {
  background-color: var(--team-section-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__list {
  --card-item: 4;
}
.team__item {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  flex-wrap: nowrap;
}

.clients-item {
  width: 170px;
  height: 92px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icons {
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icons, .clients__link:focus .clients__icons {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--hero-section-color);
  padding: 60px 0px;
}

.footer--display {
  display: flex;
}

.footer--wrapper {
  width: 231px;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-text-color);
}

.address__street {
  margin-bottom: 9px;
  color: var(--additional-text-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
}

.project {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  color: var(--title-text-color);
  background-color: var(--team-section-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__text-div {
  padding-bottom: 20px;
  padding-inline: 24px;
  border: 1px solid #eeeeee;
}

.projects__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
  padding-top: 20px;
}

.projects__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.projects__link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .li-shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16); */
.filter-menu .filter__button.current {
  color: var(--accent-color);
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.projects__top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--additional-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover .projects__top-text {
  transform: translateY(0);
}

.current-filter {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Header*/
/*.contact-menu {
  margin-left: auto;
}

/* Logo*/
/*Nav-list*/
/*.nav-li {
  width: calc(100% - ((3-1) * 50px) / 3);
}*/
/* .link.current::after {
  content: '';
  position: absolute;
  display: inline-block;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  height: 4px;
  width: 100%;
  bottom: -1px;
} */
/* Hero */
/* section features*/
/*.feature-list {
  display: flex;
  flex-wrap: nowrap;
  min-width: 270px;
}*/
/* section work*/
/* section team*/
/* background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center; */
/* .li-icon-team:hover,
.li-icon-team:focus {
  background-color: var(--accent-color);
}

.li-icon-team:focus {
  background-color: var(--accent-color);
}

.li-icon-team:hover .team-icons,
.li-icon-team:focus .team-icons {
  fill: var(--additional-text-color);
} */
/*Clients*/
/* Footer*/
/* Subscription */
/* Portfolio*/
/* Modal window *//*# sourceMappingURL=main.css.map */