.logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;
  &__primary {
    color: var(--accent-color);
  }

  &__secondary--black {
    color: var(--title-text-color);
  }

  &__secondary--white {
    color: var(--additional-text-color);
  }
}
