:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --background-color: #ffffff;
  --hero-section-color: #2f303a;
  --team-section-color: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --additional-text-color: #ffffff;
  --icons-color: #afb1b8;
  --card-gap: 30px;
  --card-item: 3;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}
